{% extends 'dashbase.html' %}
{% load static %}
{% block content %}
    <div class="content-start transition">
        <div class="container-fluid dashboard">
            <div class="row justify-content-center d-flex align-items-center text-black">
                {% if messages %}
                    <div class="col-md-12">
                        {% for message in messages %}
                            <div id="msg" class="alert {{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <form class="form-control" action="{% url 'monthly_sales' %}" method="GET">
                <input type="hidden" name="filter">
                <div class="card card-body">
                    <div class="col-md-3 mb-2">
                        <span>Base on Order Date:</span>
                    </div>
                    <div class="row d-flex g-4 column-gap-1 justify-content-between align-items-flex-end">
                        <div class="col-md-3">
                            <label class="form-check-label" for="first_date">
                                From:
                            </label>
                            <input class="form-control date" type="date" name="first_date"
                                   id="first_date" required>
                        </div>
                        <div class="col-md-3">
                            <label class="form-check-label" for="second_date">
                                To:
                            </label>
                            <input class="form-control date" type="date" name="second_date"
                                   id="second_date">
                        </div>

                        <div class="col-md-2 mt-4 pt-4">
                            <button type="submit" class="btn btn-primary m-0">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <canvas id="myChart" style="width:100px, height:100%"></canvas>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{%for data in query_set %}'{{ data.month }}', {%endfor%}],
                datasets: [{

                    data: [{%for data in query_set %}{{ data.total_sale }}, {%endfor%}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.9)',

                    ],
                    borderWidth: 1
                }]
            },
            options:
                {
                    responsive: true,
                    maintainAspectRatio: true,


                plugins: {title: {
                display: true,
                text: "Monthly Sales",

                }, legend: {display:false}},

                    layout:
                        {
                            padding: 100
                        },

                },

        });
    </script>
{% endblock %}