{% extends 'dashbase.html' %}
{% load static %}
{% block content %}
    <div class="content-start transition">
        <div class="container-fluid dashboard">
            <div class="row justify-content-center d-flex align-items-center text-black">
                {% if messages %}
                    <div class="col-md-12">
                        {% for message in messages %}
                            <div id="msg" class="alert {{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <form class="form-control" action="{% url 'order_status_report' %}" method="GET">
                <input type="hidden" name="filter">
                <div class="card card-body">
                    <div class="col-md-3 mb-2">
                        <span>Base on Order Date:</span>
                    </div>
                    <div class="row d-flex g-4 column-gap-1 justify-content-between align-items-flex-end">
                        <div class="col-md-3">
                            <label class="form-check-label" for="first_date">
                                From:
                            </label>
                            <input class="form-control date" type="date" name="first_date"
                                   id="first_date" required>
                        </div>
                        <div class="col-md-3">
                            <label class="form-check-label" for="second_date">
                                To:
                            </label>
                            <input class="form-control date" type="date" name="second_date"
                                   id="second_date" >
                        </div>
                        <div class="col-md-3 mt-4 pt-3">
                            <button type="submit" class="btn btn-primary mb-0">
                                <i class="bi bi-search"></i>
                            </button>
                            <button class="btn btn-primary mb-0" id="downloadCSV">
                                <i class="bi bi-download"></i>
                            </button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row d-flex g-f py-4 my-4 align-items-center justify-content-center">
            <div class="col-md-6 ">
                <canvas id="chartContainer" style="width: 100%; height: 600px;"></canvas>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js "></script>
    <script>
        const dataLabels = ["Approved", "Canceled", "Processing"]
        const data = {

            labels: dataLabels,
            datasets: [{
                label: "{{first_date}}",

                data: {{lst1}},
                backgroundColor: ['rgba(255, 99, 132, 0.9)'],
                borderWidth: 1,
                stack: 'Stack 0'
            },
                    {% if lst2 %}{
                        label: "{{first_date2}}",

                        data: {{lst2}},
                        backgroundColor: ['rgba(101, 184, 254, 0.9)'],
                        borderWidth: 1,
                        stack: 'Stack 1'
                        },
                    {% endif %}],
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                responsive: true,
                maintainAspectRatio: false,

                layout:
                    {
                        padding: 100
                    },

            }
        };

        let chart = new Chart(document.getElementById('chartContainer'), config);

        document.getElementById("downloadCSV").addEventListener("click", function () {
            downloadCSV({
                filename: "chart-data.csv",
                chart: chart
            })
        });

        function convertChartDataToCSV(args) {
            let result, columnDelimiter, lineDelimiter, labels, data;

            data = args.data.data || null;
            if (data == null || !data.length) {
                return null;
            }

            labels = args.labels || null;
            if (labels == null || !labels.length) {
                return null;
            }

            columnDelimiter = args.columnDelimiter || ',';
            lineDelimiter = args.lineDelimiter || '\n';

            result = '' + columnDelimiter;
            result += labels.join(columnDelimiter);
            result += lineDelimiter;

            result += args.data.label.toString();

            for (let i = 0; i < data.length; i++) {
                result += columnDelimiter;
                result += data[i];
            }
            result += lineDelimiter;

            return result;
        }

        function downloadCSV(args) {
            var data, filename, link;
            var csv = "";
            for (var i = 0; i < chart.data.datasets.length; i++) {
                csv += convertChartDataToCSV({
                    data: chart.data.datasets[i],
                    labels: dataLabels
                });
            }
            if (csv == null) return;
            console.log(csv);

            filename = args.filename || 'chart-data.csv';
            if (!csv.match(/^data:text\/csv/i)) {
                csv = 'data:text/csv;charset=utf-8,' + csv;
            }

            // not sure if anything below this comment works
            data = encodeURI(csv);
            link = document.createElement('a');
            link.setAttribute('href', data);
            link.setAttribute('download', filename);
            document.body.appendChild(link); // Required for FF
            link.click();
            document.body.removeChild(link);
        }

    </script>
{% endblock %}