{% extends 'dashbase.html' %}
{% load static %}
{% block content %}
    <div class="content-start transition">
        <div class="container-fluid dashboard">
            <div class="row justify-content-center d-flex align-items-center text-black">
                {% if messages %}
                    <div class="col-md-12">
                        {% for message in messages %}
                            <div id="msg" class="alert {{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <form class="form-control" action="{% url 'peak_business_hour' %}" method="GET">
                <input type="hidden" name="filter">
                <div class="card card-body">
                    <div class="col-md-3 mb-2">
                        <span>Base on Order Date:</span>
                    </div>
                    <div class="row d-flex g-4 column-gap-1 justify-content-between align-items-flex-end">
                        <div class="col-md-3">
                            <label class="form-check-label" for="first_date">
                                Choose a date:
                            </label>
                            <input class="form-control date" type="date" name="first_date"
                                   id="first_date" required>
                        </div>
                        <div class="col-md-3">
                            <label class="form-check-label" for="quantity">
                                Compare with (optional):
                            </label>
                            <input class="form-control date" type="date" name="second_date"
                                   id="first_date">
                        </div>
                        <div class="col-md-2 mt-4 pt-4">
                            <button type="submit" class="btn btn-primary m-0">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart');
        new Chart(ctx, {
            type: 'line',

            data: {
                labels: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'],
                datasets: [{
                    label: '{{first_date1}}',
                    data: {{ lst1 }},
                    borderWidth: 2,
                    borderColor: 'rgba(0, 255, 0, .5)'
                },
                    {% if lst2 %}
                        {
                            label: '{{first_date2}}',
                            data: {{ lst2 }},
                            borderWidth: 1,
                            borderColor: 'rgba(255, 0, 0, .5)'
                        }
                    {% endif %}
                ]
            },
            options:

                {
                plugins: {title: {
                display: true,
                text: "Peak Business Hour"
                }
                 },
                    responsive: true,
                    maintainAspectRatio: true,
                    legend: {
                        display: false
                    },
                    elements: {
                            line:{
                                tension: 0.3
                              }
                      },
                    layout:
                        {
                            padding: 100
                        },
                    scales: {
                        x: {
                            type: "linear",
                            beginAtZero: true
                        },
                        y: {
                            type: "linear",
                            beginAtZero: true,
                        }
                    }
                }

        });
    </script>
{% endblock %}