{% extends 'dashbase.html' %}
{% load static %}

{% block content %}
    <div class="content-start transition  ">
        <div class="container-fluid dashboard">
            <h2 class="mb-5" style="color: black;"> Hello {% if request.user.first_name %}
                {{ request.user.first_name }} {% endif %}</h2>
            <div class="row align-items-center justify-content-center text-center g-4">
                <div class="content-header">
                    {% if messages %}
                        {% for message in messages %}
                            <div id="msg" class="alert {{ message.tags }}" role="alert">
                                {{ message }}
                            </div>

                        {% endfor %}
                    {% endif %}
                    <h1>Total Sales: ${{ total_sale.total_sale }}</h1>
                    <br>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <canvas id="myChart" style="width: 100%; height: 600px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{%for data in query_set %}'{{data.hour}}',{%endfor%}],
                datasets: [{
                    data: [{%for data in query_set %}{{data.count}}, {%endfor%}],
                    borderWidth: 1
                }]
            },
                        options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    title: {
                        display: true,
                        text: "Order Count By Hour"
                    },
                    legend: {
                        display: false
                    }
                },

                layout:
                    {
                        padding: 100
                    },
            }
        });
    </script>
{% endblock %}