{% extends 'dashbase.html' %}

{% block content %}
    <div class="content-start transition">
        <div class="container-fluid dashboard">
            <div class="row">
                <div class="col-md-12">
                {% if messages %}
                        {% for message in messages %}
                            <div id="msg" class="alert {{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="card">
                        <div class="card-header">
                            <h4>Order Id: {{ order.id }}</h4>
                            <p>Tabel: {{ order.table_number.Table_number }} {{ order.table_number }}</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Customer Phone Number: {{ order.phone_number }}</p>
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    <p>Order Date: {{ order.order_date }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Order Status: {{ order.get_status_display }}</p>
                                </div>
                                <div class="col-md-4">
                                    <p>Payment Status: {{ order.get_payment_display }}</p>
                                </div>
                            </div>
                            <div class="table-responsive row d-flex align-items-center" style="overflow: visible !important;">
                                <table class="table table-striped align-items-center"
                                       style="font-size: .8rem !important;">
                                    <thead>
                                    <tr class="text-left">
                                        <th scope="col">Order detail Id</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total Price</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-left">
                                    {% for order_detail in order_details %}
                                        <form action="{% url 'order_detail' order_detail.id %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" id="s_product2" name="s_product" value="">
                                            <tr class="justify-content-center">
                                                <th scope="row" class="py-4">{{ order_detail.id }}</th>                                                
                                                <td>
                                                    <div class="dropdown col-sm-2">
                                                        <button class="btn btn1 btn-light dropdown-toggle"
                                                                type="button"
                                                                id="dropdownMenu2" data-bs-toggle="dropdown"
                                                                aria-expanded="false">
                                                            {{ order_detail.product }}
                                                        </button>
                                                        <ul class="dropdown-menu first-dr" aria-labelledby="dropdownMenu2">
                                                            <label for="search"></label>
                                                            <input class="form-control" id="search" class="form-control ins" type="text"
                                                                    name="product" placeholder="Search..">
                                                            {% for product in products %}
                                                                <li class="dropdown-item">
                                                                    <span onclick="reply_click2(this.id)" id="{{ product.id }}" style="margin-left:20px">
                                                                        {{ product.name }}
                                                                    </span>
                                                                    <input type="hidden" name="selected_product"
                                                                            value="{{ product.id }}">
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-md-3 ">
                                                        <input id="quantity" class="form-control" style=" border-radius: 4px;" type="number" min="1"
                                                               value="{{ order_detail.quantity }}" name="quantity">
                                                    </div>
                                                </td>
                                                <td class="py-4">
                                                    ${{ order_detail.total_price }}
                                                </td>
                                                <td>
                                                    {% if order.get_payment_display == 'Unpaid' and not order.get_status_display == 'Canceled' %}
                                                        <button type="submit" class="btn btn-primary" name="update">
                                                            <i class="bi bi-pencil"></i>
                                                        </button>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if order.get_payment_display == 'Unpaid' and not order.get_status_display == 'Canceled' %}
                                                        <a href="{% url 'delete_order_item' order_detail.id %}">
                                                            <button type="button" class="btn btn-danger" name="delete">
                                                                <i class="bi bi-trash"></i>
                                                            </button>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </form>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                                {% if order.get_payment_display == 'Unpaid' and not order.get_status_display == 'Canceled' %}
                                    <form action="{% url 'create_order_detail' order.id %}" method="POST">
                                          {% csrf_token %}
                                        <input type="hidden" id="s_product1" name="s_product" value="">
                                        <div class="container justify-content-center">
                                            <div class="row py-2 justify-content-center">
                                                <div class="dropdown col-sm-4">
                                                    <button class="btn btn2 btn-light dropdown-toggle" type="button"
                                                            id="dropdownMenu2"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                        Products
                                                    </button>
                                                    <ul class="dropdown-menu second-dr" aria-labelledby="dropdownMenu2">
                                                        <label for="search"></label>
                                                        <input id="search" class="form-control ins" type="text" name="product"
                                                                placeholder="Search..">
                                                        {% for product in products %}
                                                            <li class="dropdown-item" value="{{ product.id }}">
                                                                <span  onclick="reply_click(this.id)" id="{{ product.id }}" style="margin-left:20px">{{ product.name }}</span>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                <div class="col-md-3" >
                                                    <input class="form-control" id="quantity"  style="width:100px; border-radius: 4px;" value="1" type="number" min="1" name="quantity">
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="submit" class="btn btn-success" name="update">
                                                        <i class="bi bi-plus-square"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                {% endif %}
                            <div class="row mt-5 justify-content-between align-items-center">
                                <div class="col-md-3">
                                    <p>Order Total Price: ${{ order.total_price }}</p>
                                </div>
                                <div class="col-md-6 text-end">
                                    {% if order.get_payment_display == 'Unpaid' and not order.get_status_display == 'Canceled' %}
                                        <a href="{% url 'confirm_order' order.id %}">
                                            <button type="button" class="btn btn-success btn-sm" name="confirm">
                                                <i class="bi bi-check-circle"></i> Confirm Order
                                            </button>
                                        </a>
                                        <a href="{% url 'cancel_order' order.id %}">
                                            <button type="button" class="btn btn-danger btn-sm" name="cancel">
                                                <i class="bi bi-x-circle"></i> Cancel Order
                                            </button>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}