{% extends 'dashbase.html' %}


{% block content %}
    <div class="content-start transition">
        <div class="container-fluid dashboard">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Latest Transaction</h4>
                            {% if messages %}
                                {% for message in messages %}
                                    <div id="msg" class="alert {{ message.tags }}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="card-header">
                            <a class="" data-bs-toggle="collapse" href="#collapseExample"
                               role="button" aria-expanded="false" aria-controls="collapseExample"
                               style="color: #1a1d20 !important;">
                                <h6><i class="bi bi-filter-circle"></i> Search:</h6>
                            </a>
                            <form action="{% url 'order_list' %}" method="GET">
                                <input type="hidden" name="search" value="search">
                                <input type="hidden" name="sort" value="{{ sort }}">
                                <input type="hidden" name="order" value="{% if order == 'asc' %}'desc'{% elif order == 'desc' %}'asc'{% endif %}">
                                <input type="hidden" name="filter" value="{{ filter }}">
                                <input type="hidden" name="first_date" value="{{ first_date }}">
                                <input type="hidden" name="second_date" value="{{ second_date }}">
                                <input type="hidden" name="page" value="page">

                                <div class="collapse" id="collapseExample">
                                    <div class="row g-3 mt-2 justify-content-center">
                                        <div class="col col-md-10 col-sm-12 justify-content-center d-flex">
                                            <label class="form-label" for="form2"></label>
                                            <input type="text" class="form-control" id="form2" name="filter1"
                                                   placeholder="Select Field">
                                        </div>
                                        <div class="col-md-2 px-0">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="bi bi-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card card-body px-0">
                                        <div class="row justify-content-center">
                                            <div class="col-md-4">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                       value="table_number" id="table_number">
                                                <label class="form-check-label" for="table_number">
                                                    Table Number
                                                </label>
                                            </div>
                                            <div class="col-md-4">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                       value="phone_number" id="phone_number">
                                                <label class="form-check-label" for="phone_number">
                                                    Phone number
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <a class="" data-bs-toggle="collapse" href="#collapseExample1"
                               role="button" aria-expanded="false" aria-controls="collapseExample"
                               style="color: #1a1d20 !important;">
                                <h6><i class="bi bi-filter-circle"></i>Filter:</h6>
                            </a>
                            <form
                                    action="{% url 'order_list' %}"
                                    method="GET">
                                <input type="hidden" name="filter" value="filter">
                                <input type="hidden" name="search" value="search">
                                <input type="hidden" name="sort" value="{{ sort }}">
                                <input type="hidden" name="order" value="{% if order == 'asc' %}'desc'{% elif order == 'desc' %}'asc'{% endif %}">
                                <input type="hidden" name="flexRadioDefault" value="{{ flexRadioDefault }}">
                                <input type="hidden" name="filter1" value="{{ filter1 }}">
                                <input type="hidden" name="page" value="page">

                                <div class="collapse" id="collapseExample1">
                                    <div class="card card-body">
                                        <div class="col-md-3">
                                                <span>Base on Order Date:</span>
                                            </div>
                                        <div class="row d-flex g-3 justify-content-between align-items-flex-end">

                                            <div class="col-md-5">
                                                <label class="form-check-label" for="first_date">
                                                    From:
                                                </label>
                                                <input class="form-control date" type="date" name="first_date"
                                                       id="first_date">
                                            </div>
                                            <div class="col-md-5">
                                                <label class="form-check-label" for="second_date">
                                                    To:
                                                </label>
                                                <input class="form-control date" type="date" name="second_date"
                                                       id="second_date">
                                            </div>
                                            <div class="col-md-2 mt-3 pt-4">
                                                <button type="submit" class="btn btn-primary m-0">
                                                    <i class="bi bi-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <!-- <div class="table-responsive">
                                <table class="table table-striped" style="font-size: .8rem !important;"> -->
                            <div class="table-responsive row justify-content-center d-flex align-items-center"
                                    style="overflow: visible !important;" >
                                   <table class="table table-responsive table-striped align-items-center"
                                          style="font-size: .8rem !important;">
                                    <thead>
                                    <tr>
                                        <th scope="col"><a class="text-decoration-none text-dark"
                                                           href="?{% if filter1 %}filter1={{ filter1 }}&{% endif %}{% if search %}search=search&{% endif %}{% if flexRadioDefault %}flexRadioDefault={{ flexRadioDefault }}&{% endif %}{% if filter %}filter=filter&{% endif %}{% if page %}page={{ page }}&{% endif %}sort=id&orderp={{ orderp|default:'asc' }}{% if first_date %}&first_date={{ first_date }}&{% endif %}{% if second_date %}second_date={{ second_date }}&{% endif %}">Order
                                            Id</a></th>
                                        flexRadioDefault
                                        <th scope="col"><a class="text-decoration-none text-dark"
                                                           href="?{% if filter1 %}filter1={{ filter1 }}&{% endif %}{% if search %}search=search&{% endif %}{% if flexRadioDefault %}flexRadioDefault={{ flexRadioDefault }}&{% endif %}{% if filter %}filter=filter&{% endif %}{% if page %}page={{ page }}&{% endif %}sort=phone_number&orderp={{ orderp|default:'asc' }}{% if first_date %}&first_date={{ first_date }}&{% endif %}{% if second_date %}second_date={{ second_date }}&{% endif %}">Phone
                                            Number</a></th>
                                        <th scope="col"><a class="text-decoration-none text-dark"
                                                           href="?{% if filter1 %}filter1={{ filter1 }}&{% endif %}{% if search %}search=search&{% endif %}{% if flexRadioDefault %}flexRadioDefault={{ flexRadioDefault }}&{% endif %}{% if filter %}filter=filter&{% endif %}{% if page %}page={{ page }}&{% endif %}sort=order_date&orderp={{ orderp|default:'asc' }}{% if first_date %}&first_date={{ first_date }}&{% endif %}{% if second_date %}second_date={{ second_date }}&{% endif %}">Order
                                            Date</a></th>
                                        <th scope="col"><a class="text-decoration-none text-dark"
                                                           href="?{% if filter1 %}filter1={{ filter1 }}&{% endif %}{% if search %}search=search&{% endif %}{% if flexRadioDefault %}flexRadioDefault={{ flexRadioDefault }}&{% endif %}{% if filter %}filter=filter&{% endif %}{% if page %}page={{ page }}&{% endif %}sort=table_number&orderp={{ orderp|default:'asc' }}{% if first_date %}&first_date={{ first_date }}&{% endif %}{% if second_date %}second_date={{ second_date }}&{% endif %}">Table
                                            Number</a></th>
                                        <th scope="col"><a class="text-decoration-none text-dark"
                                                           href="?{% if filter1 %}filter1={{ filter1 }}&{% endif %}{% if search %}search=search&{% endif %}{% if flexRadioDefault %}flexRadioDefault={{ flexRadioDefault }}&{% endif %}{% if filter %}filter=filter&{% endif %}{% if page %}page={{ page }}&{% endif %}sort=status&orderp={{ orderp|default:'asc' }}{% if first_date %}&first_date={{ first_date }}&{% endif %}{% if second_date %}second_date={{ second_date }}&{% endif %}">Order
                                            Status</a></th>
                                        <th scope="col"><a class="text-decoration-none text-dark"
                                                           href="?{% if filter1 %}filter1={{ filter1 }}&{% endif %}{% if search %}search=search&{% endif %}{% if flexRadioDefault %}flexRadioDefault={{ flexRadioDefault }}&{% endif %}{% if filter %}filter=filter&{% endif %}{% if page %}page={{ page }}&{% endif %}sort=payment&orderp={{ orderp|default:'asc' }}{% if first_date %}&first_date={{ first_date }}&{% endif %}{% if second_date %}second_date={{ second_date }}&{% endif %}">Payment
                                            Status</a></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in orders %}
                                        <tr class="justify-content-center">
                                            <th scope="row">{{ order.id }}</th>
                                            <td>{{ order.phone_number }}</td>
                                            <td>{{ order.order_date }}</td>
                                            <td>{% if order.table_number %}{{ order.table_number.Table_number }} {{ order.table_number }}{% else %}Take away{% endif %}</td>
                                            <td>{{ order.get_status_display }}</td>
                                            <td>{{ order.get_payment_display }}</td>
                                            <td>
                                                {% if order.get_status_display == 'Approved' and order.get_payment_display == 'Unpaid' %}
                                                    <a href="?paid={{ order.id }}&{% if page %}page={{ page }}&{% endif %}{% if filter1 %}filter1={{ filter1 }}&{% endif %}{% if first_date %}first_date={{ first_date }}&{% endif %}{% if second_date %}second_date={{ second_date }}&{% endif %}{% if search %}search=search&{% endif %}{% if flexRadioDefault %}flexRadioDefault={{ flexRadioDefault }}&{% endif %}{% if filter %}filter=filter&{% endif %}{% if sort %}sort={{ sort }}&{% endif %}orderp={% if orderp == 'asc' %} {{ 'desc' }} {% elif orderp == 'desc' %}{{ 'asc' }}{% endif %}"
                                                    {% if not perms.orders.change_payment_status %}disabled{% endif %}>
                                                        <button class="btn btn-primary"><i
                                                                class="bi bi-credit-card"></i></button>
                                                    </a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{% url 'order_detail' order.id %}">
                                                    <button class="btn btn-primary">View Details</button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="d-flex pgbox row justify-content-center">
                                    <!-- Display pagination links -->
                                    {% if orders.has_other_pages %}
                                        <ul class="pagination">
                                            {% if orders.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       href="?page={{ orders.previous_page_number }}&{% if filter1 %}filter1={{ filter1 }}&{% endif %}{% if first_date %}first_date={{ first_date }}&{% endif %}{% if second_date %}second_date={{ second_date }}&{% endif %}{% if search %}search=search&{% endif %}{% if flexRadioDefault %}flexRadioDefault={{ flexRadioDefault }}&{% endif %}{% if filter %}filter=filter&{% endif %}{% if sort %}sort={{ sort }}&{% endif %}orderp={% if orderp == 'asc' %}{{ 'desc' }} {% elif orderp == 'desc' %}{{ 'asc' }}{% endif %}">prev</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <span class="page-link">prev</span>
                                                </li>
                                            {% endif %}
                                            {% for page in orders.paginator.page_range %}
                                                {% if orders.number == page %}
                                                    <li class="page-item active">
                                                        <span class="page-link">{{ page }}</span>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                           href="?page={{ page }}&{% if filter1 %}filter1={{ filter1 }}&{% endif %}{% if first_date %}first_date={{ first_date }}&{% endif %}{% if second_date %}second_date={{ second_date }}&{% endif %}{% if search %}search=search&{% endif %}{% if flexRadioDefault %}flexRadioDefault={{ flexRadioDefault }}&{% endif %}{% if filter %}filter=filter&{% endif %}{% if sort %}sort={{ sort }}&{% endif %}orderp={% if orderp == 'asc' %}{{ 'desc' }} {% elif orderp == 'desc' %}{{ 'asc' }}{% endif %}">{{ page }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if orders.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       href="?page={{ orders.next_page_number }}&{% if filter1 %}filter1={{ filter1 }}&{% endif %}{% if first_date %}first_date={{ first_date }}&{% endif %}{% if second_date %}second_date={{ second_date }}&{% endif %}{% if search %}search=search&{% endif %}{% if flexRadioDefault %}flexRadioDefault={{ flexRadioDefault }}&{% endif %}{% if filter %}filter=filter&{% endif %}{% if sort %}sort={{ sort }}&{% endif %}orderp={% if orderp == 'asc' %}{{ 'desc' }} {% elif orderp == 'desc' %}{{ 'asc' }}{% endif %}">next</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <span class="page-link">next</span>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footerlink %}
<script>
        
    function myFunction(phone, tablet) {
        let tableEl = document.querySelector('table')
        // let tableElParent = document.querySelector('table').parentElement.parentElement;;
        // let tableElTr = document.querySelector('table tr').parentElement.parentElement;
      if (phone.matches) { // If media query matches
            tableEl.style.setProperty("transform", "scale(0.5)", "important");
        // alert(tableEl)
            // tableElParent.style.setProperty("transform", "scale(0.7)", "important");
            // tableElTr.style.setProperty("transform", "scale(0.7)", "important");
            // alert('phone-size')
        }
        else if (tablet.matches) {
           tableEl.style.setProperty("transform", "scale(0.9)", "important");
        //    tableElParent.style.setProperty("transform", "scale(0.9)", "important");
        //    tableElTr.style.setProperty("transform", "scale(0.7)", "important");

        // alert('tablet-size')
    }
      else {
        // alert('pc-size')
      }
    }
    
    var phone = window.matchMedia("(max-width: 416px)");
    var tablet = window.matchMedia("(max-width: 912px)");
    myFunction(phone, tablet); // Call listener function at run time
    // phone.addListener(myFunction) // Attach listener function on state changes
    // tablet.addListener(myFunction) // Attach listener function on state changes
    </script>
{% endblock %}