{% extends 'dashbase.html' %}

{% block content %}
    <div class="content-start transition">
        <div class="container-fluid dashboard">
            <div class="row">
                <div class="col-md-12">
                {% if messages %}
                        {% for message in messages %}
                            <div id="msg" class="alert {{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="card">
                        <div class="card-header">
                            <h4>Order Id: {{ order.id }}</h4>
                            <p>Tabel: {{ order.table_number.Table_number }} {{ order.table_number }}</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Customer Phone Number: {{ order.phone_number }}</p>
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    <p>Order Date: {{ order.order_date }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Order Status: {{ order.get_status_display }}</p>
                                </div>
                                <div class="col-md-4">
                                    <p>Payment Status: {{ order.get_payment_display }}</p>
                                </div>
                            </div>
                            <div class="table-responsive container justify-content-center d-flex align-items-center"
                                 style="overflow: visible !important;" >
                                <table class="table table-responsive table-striped align-items-center"
                                       style="font-size: .8rem !important;">
                                    <thead>
                                    <tr class="text-left" style="width: inherit !important;">
                                        <th scope="col">Order detail Id</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total Price</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-left">
                                    {% for order_detail in order_details %}
                                        <form action="{% url 'update_order_detail' order_detail.id %}" method="POST">
                                            {% csrf_token %}
                                            <tr class="justify-content-center align-items-center" style="width: inherit !important;">
                                                <th scope="row" class="py-4">{{ order_detail.id }}</th>
                                                <td>
                                                    <div class="dropdown col-sm-2">
                                                        <button class="btn btn1 btn-light dropdown-toggle"
                                                                type="button"
                                                                id="btn{{forloop.counter}}" data-bs-toggle="dropdown"
                                                                aria-expanded="false">
                                                            {{ order_detail.product }}
                                                        </button>
                                                        <ul class="dropdown-menu first-dr"
                                                            aria-labelledby="btn{{forloop.counter}}">
                                                            <label for="search"></label>
                                                            <input id="search" class="form-control ins" type="text"
                                                                   name="product" placeholder="Search..">
                                                            {% for product in products %}
                                                                <li class="dropdown-item">
                                                                    <label for="s{{forloop.parentloop.counter}}-{{forloop.counter}}-{{ product.id }}">{{ product.name }}</label>
                                                                    <input type="radio" onclick="reply_click('btn{{forloop.parentloop.counter}}', '{{product.name}}')"
                                                                          id="s{{forloop.parentloop.counter}}-{{forloop.counter}}-{{ product.id }}"
                                                                          value="{{ product.id }}"
                                                                          style="margin-left:20px" name="product" {% if order_detail.product.id == product.id %} checked {% endif %}>

                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td class="py-3">
                                                    <div class="col-md-3 ">
                                                        <input id="quantity" class="form-control" style=" border-radius: 4px;" type="number" min="1"
                                                               value="{{ order_detail.quantity }}" name="quantity">
                                                </td>
                                                <td class="py-4">
                                                    ${{ order_detail.total_price }}
                                                </td>
                                                <td>
                                                    {% if order.get_payment_display == 'Unpaid' and not order.get_status_display == 'Canceled' %}
                                                        <button type="submit" class="btn btn-primary" name="update">
                                                            <i class="bi bi-pencil"></i>
                                                        </button>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if order.get_payment_display == 'Unpaid' and not order.get_status_display == 'Canceled' %}
                                                        <a href="{% url 'delete_order_item' order_detail.id %}">
                                                            <button type="button" class="btn btn-danger" name="delete">
                                                                <i class="bi bi-trash"></i>
                                                            </button>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </form>
                                        {% endfor %}
                                    {% if order.get_payment_display == 'Unpaid' and not order.get_status_display == 'Canceled' %}
                                    <form action="{% url 'create_order_detail'%}" method="POST">
                                        {% csrf_token %}
                                            <input name="order" type="hidden" value="{{order.id}}">
                                            <tr class="justify-content-center align-items-center" style="width: inherit !important; background-color: #b9ffe9 !important;">
                                                <th scope="row" class="py-4">Add item</th>
                                                <td>
                                                    <div class="dropdown col-md-3">
                                                        <button class="btn btn2 btn-light dropdown-toggle" type="button"
                                                                id="btn_new_orderitem"
                                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                            Products
                                                        </button>
                                                        <ul class="dropdown-menu second-dr" aria-labelledby="btn_new_orderitem">
                                                            <label for="search"></label>
                                                            <input id="search" class="form-control ins" type="text"
                                                                   name="product"
                                                                   placeholder="Search..">
                                                            {% for product in products %}
                                                                <li class="dropdown-item" value="{{ product.id }}">
                                                                    <label for="s{{forloop.parentloop.counter}}-{{forloop.counter}}-{{ product.id }}">{{ product.name }}</label>
                                                                    <input type="radio" onclick="reply_click('btn_new_orderitem', '{{product.name}}')"
                                                                          id="s{{forloop.parentloop.counter}}-{{forloop.counter}}-{{ product.id }}"
                                                                          value="{{ product.id }}"
                                                                          style="margin-left:20px" name="product">
                                                                </li>
                                                                {% endfor %}
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td class="py-3">
                                                    <div class="col-md-3 ">
                                                        <input id="quantity" class="form-control" style=" border-radius: 4px;" type="number" min="1"
                                                               value=1 name="quantity">
                                                </td>
                                                <td class="py-4"></td>
                                                <td>
                                                    <button type="submit" class="btn btn-success" name="create">
                                                        <i class="bi bi-plus-square"></i>
                                                    </button>
                                                </div>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </form>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row mt-5 justify-content-between align-items-center">
                                <div class="col-md-3">
                                    <p>Order Total Price: ${{ order.total_price }}</p>
                                </div>
                                <div class="col-md-6 text-end">
                                    {% if order.get_payment_display == 'Unpaid' and not order.get_status_display == 'Canceled' %}
                                        <a href="{% url 'confirm_order' order.id %}">
                                            <button type="button" class="btn btn-success btn-sm" name="confirm">
                                                <i class="bi bi-check-circle"></i> Confirm Order
                                            </button>
                                        </a>
                                        <a href="{% url 'cancel_order' order.id %}">
                                            <button type="button" class="btn btn-danger btn-sm" name="cancel">
                                                <i class="bi bi-x-circle"></i> Cancel Order
                                            </button>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footerlink %}
<script>
        
    function myFunction(phone, tablet) {
        let tableEl = document.querySelector('table');
      if (phone.matches) { // If media query matches
            tableEl.style.setProperty("transform", "scale(0.7)", "important");
            // alert('phone-size')
        }
        else if (tablet.matches) {
           tableEl.style.setProperty("transform", "scale(0.9)", "important");
        // alert('tablet-size')
    }
      else {
        // alert('pc-size')
      }
    }
    
    var phone = window.matchMedia("(max-width: 416px)");
    var tablet = window.matchMedia("(max-width: 912px)");
    myFunction(phone, tablet) // Call listener function at run time
    // x.addListener(myFunction) // Attach listener function on state changes
    // phone.addListener(myFunction) // Attach listener function on state changes
    // tablet.addListener(myFunction) // Attach listener function on state changes
    </script>
{% endblock %}