.body1 {

    background-repeat: no-repeat;
    background-size: cover;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 20px;
    padding-bottom: 10px;
}



