{% extends 'base.html' %}
{% load static %}

{% block link %}


    <style>


        .intro {
            background-color: rgb(255, 255, 255) !important;
        }

        .cart {
            /* width: 80% !important; */
            max-width: 750px;
        }

        .product-text {
            /* padding: 0em 0em 0em 1em; */
            font-size: min(1.1rem, 1.8vw) !important;
            margin: 5px;
            height: auto;
            /* height:0; */
            width: auto;
        }

        .price.span {
            font-size: min(0.856rem, 1.8vw) !important;
            text-align: center;
        }

        td.cakes img {
            /* padding: 1em 0em; */
            /* background-color: yellow; */
            background-color: blue;
            background-size: cover;
            border-radius: 10px;
            /* background-size: cover; */
        }

        #checkout1{
            {% if request.COOKIES.number_of_order_items == 0 %}
                pointer-events: none;
            {% endif %}
        }
        ::-webkit-input-placeholder{
    font-size: 0.8rem !important;

}
     
        label {
        text-align: left;
        color: black;
        font-size: 12px;
        font-weight: bold;

}

    </style>

    <link rel="stylesheet" href="{% static 'flat_cart_widget\web\css\style.css' %}">
    <!-- <script>
        $(document).ready(function (c) {
            $('.close').on('click', function (c) {
                $('.cake-top').fadeOut('slow', function (c) {
                    $('.cake-top').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.close-btm').on('click', function (c) {
                $('.cake-bottom').fadeOut('slow', function (c) {
                    $('.cake-bottom').remove();
                });
            });
        });
    </script> -->
{% endblock %}


{% block order_number %} {{ request.COOKIES.number_of_order_items }} {% endblock %}

{% block content %}

    <header id="header">
        <div class="intro"
             style="background-repeat: no-repeat; background-image: url({{ info.background_image.url }});  background-size: cover ; ">
            <div class="overlay">
                <div class="container justify-content-center" style="background-color: rgba(255, 255, 255, 0);">
                    <div style="height: 100px;">
                    </div>
                    <div class="logo">
                        <!-- <h3>Flat Cart Widget</h3> -->
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            <div id="msg" class="alert {{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="cart">
                        <div class="cart-top row text-center justify-content-center">
                            <div class="cart-experience col-sm-4">
                                <h4>Shopping Cart</h4>
                            </div>
                        </div>
                        <div class="cart-bottom row">
                            <div class="table">
                                <table>
                                    <tbody class="col-sm-12">
                                    {% for product , quantity , total in order_items %}
                                        <form id="cart-item-form-{{forloop.counter}}">
                                            <tr id="box-{{forloop.counter}}" class="cake-top row justify-content-between d-flex align-items-center">
                                                <td class="cakes col-sm-3">
                                                    <div class="product-img  ">
                                                        <img src="{{ product.image.url }}">
                                                    </div>
                                                </td>
                                                <td class="cake-text1 col-sm-2">
                                                    <div class="product-text">
                                                        <p class="my-5" >{{ product.name }}</p>
                                                    </div>
                                                </td>
                                                <td class="quantity col-sm-3 col-md-2">
                                                    <div class="product-right">
                                                        <input type="number" class="form-control input-small" min="1" type="number"
                                                               id="quantity" name="quantity" value="{{ quantity }}">
                                                    </div>
                                                </td>
                                                <td class="price col-md-1 col-sm-2 px-sm-2 py-2">
                                                    <span 
                                                          class=" col-sm-110">${{ product.price }}</span>
                                                </td>
                                                <td class="price col-md-1 col-sm-2 px-sm-2 py-2">
                                                    <span  class="" id="total-count">${{ total }}</span>
                                                </td>
                                                <td class="top-remove col-sm-12 col-md-2 text-center mx-1 ">
                                                    <div class="row px-1 justify-content-around">
                                                        <input name="product" value="{{ product.id }}" type="hidden">
                                                        <button name="update" value="True" type="button" onclick="return orderUpdate(this.form)"
                                                            form="cart-item-form-{{forloop.counter}}"   
                                                            class="col-sm-4 btn btn-outline-warning m-auto  d-flex justify-content-center">
                                                            <i class="bi bi-arrow-repeat"></i>
                                                        </button>
                                                        <button name="remove" value="True" type="button" id="bttn-{{forloop.counter}}" onclick="return deleteOrderItem(this.form, 'box-{{forloop.counter}}')"
                                                                form="cart-item-form-{{forloop.counter}}" 
                                                                class="col-sm-4 mx-1 btn btn-outline-danger d-flex justify-content-center">
                                                            <i class="bi bi-trash"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </form>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="vocher pt-0">
                                <!-- <div class="dis-card">
                                    <h5>Discount Code or Voucher</h2>
                                    <p>Enter your discount code or voucher to receive a discount on your total order.</p>
                                    <input type="text" value="">
                                    <input type="submit"  value="Redeem">
                                </div> -->
                                <div class="dis-total">
                                    <div class="tot-btn1 ">
                                        <form action="{% url 'orders:cart' %}" id="table-reserve-form" method="post" novalidate>
                                            {% csrf_token %}
                                            <div class="row justify-content-between active" id="RadioTarget1" aria-hidden="true">
                                                <div class="col-sm-5 d-flex align-items-end">
                                                    <div class="row gy-2">
<!--                                                        {% for field in form %}-->
<!--                                                        <div class="py-1" style="color: black;">-->
<!--                                                            {{ field.errors }}-->
<!--                                                            <label>{{ field.label_tag }} </label>-->
<!--                                                            {{ field }}-->
<!--                                                        </div> -->
<!--                                                        {% endfor %}-->
                                                        {{form}}
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <h1 class="mx-1">Total ${{ order_total_price }}</h1>
                                                    <div class="row justify-content-around">
                                                        <button type="button" class="shop btn btn-dark col-sm-4 p-1 mx-2" ><a style="text-decoration: none;" href="{% url 'menu:menu' %}">Back to Shop</a></button>
                                                        <button class="col-sm-5 check p-1 mx-1 heart2 btn btn-success" id="checkout1" style="color:black !important; background-color: rgb(139, 215, 62);" type="submit" form="table-reserve-form">
                                                             Continue to Checkout
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    
{% endblock %}

{% block footerlink %}

<script>
    function orderUpdate(formElement){
        event.preventDefault();
        let formData = new FormData(formElement);
        let product = formData.get('product');
        let quantity = formData.get('quantity');
        let orders = getCookieObject('orders');
        orders[product] = +quantity;
        setCookie('orders', JSON.stringify(orders), 60);
        setOrderItemsNumber(orders);
        return false;
    }
    function deleteOrderItem(formElement, box_id){
        event.preventDefault();
        let formData = new FormData(formElement);
        let product = formData.get('product');
        let orders = getCookieObject('orders');
        delete orders[product];
        setCookie('orders', JSON.stringify(orders), 60);
        setOrderItemsNumber(orders);
        document.getElementById(box_id).style.setProperty("display", "none", "important");
        return false;
    }
    </script>
  {% endblock %}