{% extends 'base.html' %}
{% block content %}
<header id="header">
    <div class="intro1">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="intro-text">
              <h1>Touché</h1>
              <p><b>Search products in this page</b></p>
            </div>
        </div>
      </div>
    </div>
    </header>
    <div class="justify-content-center; col-lg-4;" style="margin-left: 30px;">
      <div>
        <form action="{% url 'menu:search_result' %}" method="GET" style="margin-left: 40%;margin-bottom: 20%;">
          <input type="text" name="q" >
          <input type="submit" style="background-color: green;">
        </form>
      </div>
    </div>
{% endblock %}
