{% extends 'base.html' %}
{% block content %}
<header id="header">
    <div class="intro1">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="intro-text">
              <h1>Touché</h1>
              <p><b>Search products in this page</b></p>
            </div>
        </div>
      </div>
    </div>
    </header>
    <div class="justify-content-center; col-lg-4;" style="margin-left: 30px;">
        <div class="d-flex align-items-center" style="margin-bottom: 300px;">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button">Button</button>
                </div>
                <input type="text" class="form-control" placeholder="type to search" aria-label="" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
{% endblock %}
