{% extends 'base.html' %}
{% load static %}



{% block order_number %} {{ request.COOKIES.number_of_order_items }} {% endblock %}
{% block link %}
  <style>
    .img-responsive{
      object-fit: cover;
    }

{% if categories %}
    {% for category in categories %}
        {% if not category.parent_category %}
        li:has(> a.{{ category.name|cut:' ' }}1){
            display:none;
          }
        li:has( a.{{ category.name|cut:' ' }}1.Active1){
            display:inline-flex;
          }
        {% endif %}
    {% endfor %}
{% endif %}
  </style>
{% endblock %}

{% block content %}
    <div id="portfolio">
        <div class="section-title text-center center">
            <div class="overlay">
                <h2>Menu</h2>
                <hr>
                <p>The Best quality what you deserve.</p>
            </div>
        </div>
        <form action="{% url 'menu:menu' %}" method="GET">
            <div class="container">
                <div class="row g-3 mt-2 justify-content-center">
                    <div class="search-box mx-5">
                        <input class="input mb-4"
                               placeholder="Search here"
                               name="search"
                               type="hidden"
                               hx-get="{% url 'menu:menu' %}"
                               hx-trigger="keyup changed delay:500ms, search"
                               hx-target="#search-results"
                               hx-swap="innerHTML"/>
                        <div class="search-btn mx-5">
                            <i class="bi bi-search"></i>
                            <i class="bi bi-x-lg d-none"></i>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="container" id="search-results">
            {% include "menu/search_results.html" %}
        </div>
    </div>
{% endblock %}


{% block footerlink %}
<script src="{% static 'menu_js/categoryTree.js' %}"></script>
<script src="{% static 'menu_js/add_To_Cart.js' %}"></script>
<script src="{% static 'menu_js/SearchButton.js' %}"></script>
<script src="https://unpkg.com/htmx.org@1.8.0"></script>
{% endblock %}

