{% extends 'base.html' %}
{% load static %}



{% block order_number %} {{ request.COOKIES.number_of_order_items }} {% endblock %}
{% block link %}
  <style>
{% if categories %}
    {% for category in categories %}
        {% if not category.parent_category %}
        li:has(> a.{{ category.name|cut:' ' }}1){
            display:none;
          }
        li:has( a.{{ category.name|cut:' ' }}1.Active1){
            display:inline-flex;
          }
        {% endif %}
    {% endfor %}
{% endif %}
  </style>
{% endblock %}

{% block content %}
<div id="portfolio">
    <div class="section-title text-center center">
      <div class="overlay">
        <h2>Menu</h2>
        <hr>
        <p>The Best quality what you deserve.</p>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="categories">
          <ul class="cat justify-content-around">
            <li>
              <ol class="type">
                <li><a href="#" data-filter="*"  >All</a></li>
                {% if categories %}
                  {% for category in categories %}
                      {% if not category.parent_category and category.product_set %} 
                        <li><a href="#" data-filter=".{{ category.name|cut:' ' }}" id="{{ category.name|cut:' ' }}" onclick="reply_click(this.id)" >{{ category.name }}</a></li>
                      {% endif %}
                  {% endfor %}
                {% endif %}
              </ol>
            </li>
            <br>
            <li>
              <ol class="type">
                {% if categories %}
                  {% for category in categories %}
                       {% if category.parent_category and not category.parent_category.parent_category  and category.product_set %}
                      <li><a href="#" data-filter=".{{ category.name|cut:' ' }}"  class="cat {{ category.parent_category.name|cut:' ' }}1 {{ category.parent_category.parent_category.name|cut:' ' }}1" >{{ category.name }}</a></li>
                       {% endif %} 
                  {% endfor %}
                {% endif %}
              </ol>
            </li>
          </ul>
          <div class="clearfix"></div>
          
        </div>
      </div>
      <div class="container">
        <div class="portfolio-items pp-gallery row justify-content-between">
          {% if products %}
          {% for product in products %}
            <div  class="col-sm-6 col-md-6 col-lg-4 {{ product.category.parent_category.parent_category.parent_category.name|cut:' ' }} {{ product.category.parent_category.parent_category.name|cut:' ' }} {{ product.category.parent_category.name|cut:' '   }} {{ product.category.name|cut:' ' }}">
                <div class="portfolio-item container">
                    <div class="hover-bg" style="border: 1px solid black; border-radius: 10px 10px 0 0;">
                      {% if product.image %}
                      <a href="{% url 'menu:show_product'  product.name %}" title="{{ product.category }}" data-lightbox-gallery="gallery1">
                          <div class="hover-text">
                              <h4 style="color: chartreuse !important;">{{ product.name }}</h4>                                
                          </div>
                          <img src="{{ product.image.url }}" width="500" height="333" class="img-responsive" alt="Project Title" style="max-width: 100%; max-height: 100%;">
                        </a>
                        {% else %}
                      <a href="#" title="{{ product.category }}" data-lightbox-gallery="gallery1">
                          <div class="hover-text">
                              <h4 style="color: chartreuse !important;">{{ product.name }}</h4>                                
                          </div>
                          <img src="#" width="500" height="333" class="img-responsive" alt="Project Title" style="max-width: 100%; max-height: 100%;">
                        </a>
                        {% endif %}
                    </div>
                    <div class="container mx-0 px-lg-5 justify-content-center" style="background-color: rgba(233, 33, 220, 0); border: 1px solid black; border-radius: 0 0 10px 10px; max-width: 100%; max-height: 100%; height: 155px;">
                        <form action="{% url 'menu:menu'  %}" class=" row justify-content-center py-1" method="post" style="width: fit-content;">
                           {% csrf_token %}
                            <input  type="hidden" name="product" value="{{ product.id }}">
                            <span class="co-sm-1 text-center">{{ product.name }}</span>
                            <span class="co-sm-1 text-center">{{ product.price }} <span>$</span></span>
                            <!-- <span class="co-sm-1 text-center">Qnt</span> -->
                            <span class="col-sm-8"><input placeholder="Qnt" class="col-sm-11 my-3 text-center  qnt" type="number" min="1"  name="quantity" value="1" style="width: 100%; border-radius: 5px; color: #00014f; font-weight: bold; background-color: rgb(255, 255, 255);" {% if not product.is_active %} disabled {% endif %}></span>
                            <div class="col-sm-8">
                              <input type="submit" class="btn btn-cart moving-btn1 heart" style="border-radius: 10px; color: rgb(3, 0, 38) !important; background-color: rgba(16, 3, 87, 0.142); width: 100%;" value="Add to cart"> 
                            </div>

                        </form> 
                    </div>
                </div>
            </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block footerlink %}
<script type="text/javascript">
  function reply_click(clicked_id)
  {
      var classNam = clicked_id + "1";
      const allCats = document.getElementsByClassName("cat");
      const thisCats = document.getElementsByClassName(classNam);
      for (item of allCats) {
        item.classList.remove("Active1");
      }
      for (var index=0;index < thisCats.length;index++) {
        thisCats[index].classList.add("Active1");
      }
  }
</script>
{% endblock %}

