{% extends 'base.html' %}
{% load static %}
{% block link %}
  <link href="{% static 'menu_css/product.css'%}" rel="stylesheet">
{% endblock  %}
{% block content %}
  <div class="container pt-3 justify-content-center px-5">
    <div class="mb-0" style="margin-top: 10%; margin-bottom: 0;">
      {% for category in categories %}
      {% if product.category in category.category_set.all %}
      <span>{{ category.name }} <i class="bi bi-arrow-return-right"></i> </span>
      {% endif %}
      {% endfor %}
      <span>{{ product.category.name }} <i class="bi bi-arrow-return-right"></i> </span>
    </div>
    <div class="card" style="margin-top: 10%; margin-bottom: 10%; width:fit-content;">
      <div class="row justify-content-between">
        <div class="col-sm-5 d-flex align-items-center justify-content-center">
            <img src="{{ product.image.url }}"class="my-1 product-image">
        </div>
        <div class="col-sm-5 py-5 ">
          <div class="row d-flex align-items-center">
            <div class="d-flex justify-content-center text-center">
              <h1>{{ product.name }}</h1><br>
            </div>
            <div class="d-flex justify-content-center text-center">
              <p style="overflow-wrap: break-word;">Description: {{ product.description }} </p>
            </div>
            <div class="d-flex justify-content-center">
              <form class=" row justify-content-center pb-1"
                  id="my-form-x"
                  style="width: fit-content;" onsubmit="return addToCart(this.id)">
                <input type="hidden" name="product" value="{{ product.id }}">
                <input type="hidden" name="product_name" value="{{ product.name }}">
                <input type="hidden" name="price" value="{{ product.price }}">
                <input type="hidden" name="image_url" value="{{ product.image.url }}">
                <input type="hidden" name="detail_url"
                      value="{% url 'menu:show_product'  product.id %}">
                <span class="co-sm-1 text-center" style="font-size:20px">{{ product.price }} <span>$</span></span>
                <span class="col-sm-8 d-flex justify-content-center"><input placeholder="Qnt"
                                              class="col-sm-11 my-3 text-center  qnt qnt-add"
                                              type="number" min="1" name="quantity"
                                              value="1"></span>
                <div class="col-sm-8 d-flex justify-content-center">
                    <input type="submit" class="btn btn-cart btn-add moving-btn1 heart mb-2"
                          value="Add to cart" {% if not product.is_active %}
                          disabled {% endif %}>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
    
{% endblock %}
{% block footerlink %}
<script src="{% static 'menu_js/add_To_Cart.js' %}"></script>
{% endblock %}
