{% extends 'base.html' %}
{% load static %}



{% block order_number %} {{ request.COOKIES.number_of_order_items }} {% endblock %}

{% block content %}
    <div id="portfolio">
        <div class="section-title text-center center">
            <div class="overlay">
                <h2>History</h2>
                <hr>
                <p>The Best quality what you deserve.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-11 col-xl-9">
                <div class="card rounded-3">
                    <div class="card-body p-4">
                        <h4 class="text-center my-3 pb-3">Order {{ last_order_info }}</h4>
                        <table class="table table-striped table-hover mb-4">
                            <thead>
                            <tr>
                                <th scope="col">Product Name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Total Price</th>
                                <th scope="col">Order Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in last_order %}
                                <tr>
                                    {% for info in item %}
                                        <td>{{ info }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            <h3>Total Price: {{ last_order_info }} </h3>
            </div>
        </div>
    </div>
{% endblock %}

